{% extends 'base.html.twig' %}

{% block title %}Partidas index{% endblock %}

{% block body %}
    <h1>Partidas index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Acabada</th>
                <th>Turno</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for partida in partidas %}
            <tr>
                <td>{{ partida.id }}</td>
                <td>{{ partida.acabada ? 'Yes' : 'No' }}</td>
                <td>{{ partida.turno ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_partidas_show', {'id': partida.id}) }}">show</a>
                    <a href="{{ path('app_partidas_edit', {'id': partida.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_partidas_new') }}">Create new</a>
{% endblock %}
