{% extends 'base.html.twig' %}

{% block title %}Partidas{% endblock %}

{% block body %}
    <h1>Partidas</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ partida.id }}</td>
            </tr>
            <tr>
                <th>Acabada</th>
                <td>{{ partida.acabada ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Turno</th>
                <td>{{ partida.turno ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Fila1</th>
                <td>{{ partida.fila1 ? partida.fila1|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>Fila2</th>
                <td>{{ partida.fila2 ? partida.fila2|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>Fila3</th>
                <td>{{ partida.fila3 ? partida.fila3|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>Fila4</th>
                <td>{{ partida.fila4 ? partida.fila4|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>Fila5</th>
                <td>{{ partida.fila5 ? partida.fila5|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>Fila6</th>
                <td>{{ partida.fila6 ? partida.fila6|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>Fila7</th>
                <td>{{ partida.fila7 ? partida.fila7|join(', ') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_partidas_index') }}">back to list</a>

    <a href="{{ path('app_partidas_edit', {'id': partida.id}) }}">edit</a>

    {{ include('partidas/_delete_form.html.twig') }}
{% endblock %}
